// Colors
$color-very-dark-gray: hsl(0, 0%, 17%);
$color-dark-gray: hsl(0, 0%, 59%);

// Font
$font-size-input: 18px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-family: "Rubik", sans-serif;

