@use "../../styles/vars" as v;

.header {
  height: 230px;
  width: 100%;
  position: relative;
  &__background {
    width: 100%;
    height: 100%;
  }
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30px;
    width: 100%;

    &--title {
      color: white;
      font-size: 27px;
      font-weight: v.$font-weight-regular;
      margin-bottom: 25px;
    }
  }
}
